:root {
  --primary-100: #e67e22;

  --dark-100: #313131;
  --dark-90: rgba(49, 49, 49, 0.9);
  --dark-80: rgba(49, 49, 49, 0.8);
  --dark-70: rgba(49, 49, 49, 0.7);
  --dark-60: rgba(49, 49, 49, 0.6);
  --dark-30: rgba(49, 49, 49, 0.3);
  --dark-20: rgba(49, 49, 49, 0.2);
  --dark-10: rgba(49, 49, 49, 0.1);
  --dark-5: rgba(49, 49, 49, 0.05);
  --dark-0: rgba(49, 49, 49, 0);

  --white-100: #ffffff;
  --white-80: rgba(255, 255, 255, 0.8);
  --white-20: rgba(255, 255, 255, 0.2);

  --success-95: rgba(34, 153, 84, 0.95);
  --danger: #c52c1b;

  --container-width: calc(100% - 1000px);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body,
input,
button {
  max-width: 100vw;
  overflow-x: hidden;
  background: var(--bg);
  font-family: "Bricolage Grotesque", sans-serif;
  scroll-behavior: smooth;
}

.container {
  width: var(--container-width);
  margin: auto;
  position: relative;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.overflow-h {
  overflow: hidden;
}

.icon-design {
  height: 45px;
  width: 45px;
  border: 1px solid var(--dark-100);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: var(--dark-5);
  cursor: pointer;
  position: relative;
}

.icon-design .icon {
  height: 20px;
  width: 20px;
  color: var(--dark-100);
}

.page-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  background: #ffffff;
  position: fixed;
  width: var(--container-width);
}

.navigation-message {
  color: var(--dark-100);
  font-size: 18px;
}

.navigation-message span {
  color: var(--primary-100);
  font-weight: 700;
}

.all-product {
  padding-top: 100px;
}

.all-product .product {
  border: 1px solid var(--dark-10);
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 20px;
}

.all-product .product .product-name {
  font-size: 24px;
  color: var(--primary-100);
  font-weight: 600;
  margin-bottom: 10px;
}

.all-product .product .price-category {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.all-product .product .price-category p span {
  color: var(--primary-100);
  font-weight: 500;
}

.all-product .product .description {
  color: var(--dark-100);
  margin-bottom: 25px;
}

.all-product .product button {
  background: var(--primary-100);
  color: var(--white-100);
  font-size: 16px;
  border: none;
  outline: none;
  padding: 14px 35px;
  cursor: pointer;
  border-radius: 5px;
}

.all-product .product button.atc {
  margin-bottom: 10px;
}

.all-product .product .increment-decrement {
  display: flex;
  align-items: center;
  gap: 10px;
}

.all-product .product .increment-decrement .increment,
.all-product .product .increment-decrement .decrement {
  height: 45px;
  width: 45px;
  border: 1px solid var(--dark-100);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: var(--dark-5);
  cursor: pointer;
  font-size: 30px;
  font-weight: 100;
}

.profile-page {
  position: absolute;
  top: 100px;
  background: var(--white-100);
  border: 1px solid var(--dark-10);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 10px 10px -10px var(--dark-30);
  height: auto;
  width: fit-content;
  left: -2px;
  width: 450px;
}

.profile-page .profile-info .message-title {
  color: var(--primary-100);
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.profile-page .profile-info .input-data {
  margin-bottom: 35px;
}

.profile-page .profile-info .input-data form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.profile-page .profile-info .input-data form input {
  padding: 10px;
  font-size: 16px;
  color: var(--primary-100);
  border: 1px solid var(--dark-60);
  border-radius: 5px;
}

.profile-page .profile-info .input-data form button {
  background: var(--primary-100);
  color: var(--white-100);
  font-size: 16px;
  border: none;
  outline: none;
  padding: 14px 35px;
  cursor: pointer;
  border-radius: 5px;
}

.profile-page .profile-info .show-data .data {
  margin-top: 8px;
  color: var(--primary-100);
  font-weight: 500;
}

.profile-page .profile-info .show-data .data span {
  color: var(--dark-100);
  margin-left: 5px;
}

.cart-page {
  position: absolute;
  top: 100px;
  background: var(--white-100);
  border: 1px solid var(--dark-10);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 10px 10px -10px var(--dark-30);
  height: auto;
  width: fit-content;
  right: -2px;
  width: 450px;
}
